---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Button from "../components/Button.astro";
import Code from "../icons/Code.astro";
import Skill from "../icons/Skill.astro";
import User from "../icons/User.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GithubIcon from "../icons/tech/Github.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import CurriculumIcon from "../icons/Curriculum.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import projects from "../data/projects.json"
---

<Layout title="Agustín Gómez | Desarrollador web" description="">
	<main class="px-4">
		<SectionContainer class="section">
			<h1 class="font-extrabold text-5xl md:text-7xl">Agustín Gómez</h1>
			<h2 class="font-medium text-2xl md:text-4xl">Desarrollador web</h2>
			<div class="flex flex-col md:flex-row items-start md:items-center gap-3 mt-2 ">
				<a href="https://github.com/AgustinGomezDev" target="_blank">
					<Button>
						<GithubIcon class="size-6" />
						<span>Github</span>
					</Button>
				</a>
				<a href="https://www.linkedin.com/in/agustingomezblanco/" target="_blank">
					<Button>
						<LinkedinIcon class="size-6" />
						<span>LinkedIn</span>
					</Button>
				</a>
				<a href="https://drive.google.com/file/d/1lIOeC2Z8CTpu57AS4GCy8hAgPnUnvz1O/view?usp=sharing" target="_blank">
					<Button>
						<CurriculumIcon class="size-5" />
						<span>Curriculum</span>
					</Button>
				</a>
			</div>
		</SectionContainer>
		<SectionContainer class="section" id="proyectos">
			<SectionTitle title="Proyectos">
				<Code class="size-6" />
			</SectionTitle>
			<div class="mt-6 flex flex-col gap-6">
				{projects.map(p => (
					<ProjectCard
						key={p.id}
						id={p.id}
						title={p.title}
						description={p.description}
						code={p.code}
						demo={p.demo}
						image={p.image}
						tech={p.tech}
					/>
				))}
			</div>
		</SectionContainer>
		<SectionContainer class="mt-11 section" id="habilidades">
			<SectionTitle title="Habilidades">
				<Skill class="size-6" />
			</SectionTitle>
			<Skills />
		</SectionContainer>
		<SectionContainer class="section" id="sobre-mi">
			<SectionTitle title="Sobre mí">
				<User class="size-6" />
			</SectionTitle>
			<About />
		</SectionContainer>
	</main>
</Layout>

<script>
	const animatedSections = document.querySelectorAll('.animated-section');

if (animatedSections.length > 0) {
    const observer = new IntersectionObserver(
        (entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    if (entry.target.classList.contains('fade-in-left')) entry.target.classList.add('animate-left');
                    if (entry.target.classList.contains('fade-in-right')) entry.target.classList.add('animate-right');
                    if (entry.target.classList.contains('fade-in-bottom')) entry.target.classList.add('animate-in-bottom');
                    if (entry.target.classList.contains('fade-in')) entry.target.classList.add('animate-in');
                    observer.unobserve(entry.target);
                }
            });
        },
        {
            threshold: 0.45,
        }
    );
    animatedSections.forEach((section) => observer.observe(section));
}
</script>