---
import TypescriptIcon from "../icons/tech/Typescript.astro";
import JavascriptIcon from "../icons/tech/Javascript.astro";
import PhpIcon from "../icons/tech/Php.astro";
import JavaIcon from "../icons/tech/Java.astro";
import CsharpIcon from "../icons/tech/Csharp.astro";

import HtmlIcon from "../icons/tech/Html.astro";
import CssIcon from "../icons/tech/Css.astro";
import TailwindcssIcon from "../icons/tech/Tailwindcss.astro";
import BootstrapIcon from "../icons/tech/Bootstrap.astro";
import SassIcon from "../icons/tech/Sass.astro";
import ReactjsIcon from "../icons/tech/Reactjs.astro";
import AstroIcon from "../icons/tech/AstroIcon.astro";

import NodejsIcon from "../icons/tech/Nodejs.astro";
import ExpressjsIcon from "../icons/tech/Expressjs.astro";
import JsonwebtokenIcon from "../icons/tech/Jsonwebtoken.astro";

import PostgresqlIcon from "../icons/tech/Postgresql.astro";
import MongodbIcon from "../icons/tech/Mongodb.astro";
import FirebaseIcon from "../icons/tech/Firebase.astro";

import GitIcon from "../icons/tech/Git.astro";
import FigmaIcon from "../icons/tech/Figma.astro";
import PhotoshopIcon from "../icons/tech/Photoshop.astro";

import Tooltip from "./Tooltip.astro";

const programming = {
    javascript: JavascriptIcon,
    typescript: TypescriptIcon,
    php: PhpIcon,
    java: JavaIcon,
    "c#": CsharpIcon
};

const frontend = {
    HTML: HtmlIcon,
    CSS: CssIcon,
    tailwindcss: TailwindcssIcon,
    bootstrap: BootstrapIcon,
    sass: SassIcon,
    reactjs: ReactjsIcon,
    astro: AstroIcon
};

const backend = {
    nodejs: NodejsIcon,
    expressjs: ExpressjsIcon,
    jsonwebtoken: JsonwebtokenIcon
};

const database = {
    postgresql: PostgresqlIcon,
    mongodb: MongodbIcon,
    firebase: FirebaseIcon
};

const tools = {
    git: GitIcon,
    figma: FigmaIcon,
    photoshop: PhotoshopIcon
};
---

<div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-y-12">
    <div class="flex flex-col items-center gap-2" data-aos="fade-in" data-aos-once="true" data-aos-delay={100 * 1}>
        <h4 class="md:text-xl">Programación</h4>
        <div class="flex items-center gap-3">
            {
                Object.entries(programming).map(([name, Icon], index) => (
                    <div class="group relative">
                        <Icon key={index} class="size-7 hover:text-primary" />
                        <Tooltip text={name} />
                    </div>
                ))
            }
        </div>
    </div>
    <div class="flex flex-col items-center gap-2" data-aos="fade-in" data-aos-once="true" data-aos-delay={100 * 2}>
        <h4 class="md:text-xl">Frontend</h4>
        <div class="flex items-center gap-3">
            {
                Object.entries(frontend).map(([name, Icon], index) => (
                    <div class="group relative">
                        <Icon key={index} class="size-7 hover:text-primary" />
                        <Tooltip text={name} />
                    </div>
                ))
            }
        </div>
    </div>
    <div class="flex flex-col items-center gap-2" data-aos="fade-in" data-aos-once="true" data-aos-delay={100 * 3}>
        <h4 class="md:text-xl">Backend</h4>
        <div class="flex items-center gap-3">
            {
                Object.entries(backend).map(([name, Icon], index) => (
                    <div class="group relative">
                        <Icon key={index} class="size-7 hover:text-primary" />
                        <Tooltip text={name} />
                    </div>
                ))
            }
        </div>
    </div>
    <div class="flex flex-col items-center gap-2" data-aos="fade-in" data-aos-once="true" data-aos-delay={100 * 4}>
        <h4 class="md:text-xl">Bases de datos</h4>
        <div class="flex items-center gap-3">
            {
                Object.entries(database).map(([name, Icon], index) => (
                    <div class="group relative">
                        <Icon key={index} class="size-7 hover:text-primary" />
                        <Tooltip text={name} />
                    </div>
                ))
            }
        </div>
    </div>
    <div class="flex flex-col items-center gap-2" data-aos="fade-in" data-aos-once="true" data-aos-delay={100 * 5}>
        <h4 class="md:text-xl">Herramientas</h4>
        <div class="flex items-center gap-3">
            {
                Object.entries(tools).map(([name, Icon], index) => (
                    <div class="group relative">
                        <Icon key={index} class="size-7 hover:text-primary" />
                        <Tooltip text={name} />
                    </div>
                ))
            }
        </div>
    </div>
</div>
